/* Schriftarten Import */
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light/opensans-light.eot');
  src: url('../fonts/opensans-light/opensans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-light/opensans-light.woff') format('woff'),
    url('../fonts/opensans-light/opensans-light.ttf') format('truetype'),
    url('../fonts/opensans-light/opensans-light.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular/opensans-regular.eot');
  src: url('../fonts/opensans-regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular/opensans-regular.woff') format('woff'),
    url('../fonts/opensans-regular/opensans-regular.ttf') format('truetype'),
    url('../fonts/opensans-regular/opensans-regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold/opensans-bold.eot');
  src: url('../fonts/opensans-bold/opensans-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-bold/opensans-bold.woff') format('woff'),
    url('../fonts/opensans-bold/opensans-bold.ttf') format('truetype'),
    url('../fonts/opensans-bold/opensans-bold.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold/opensans-semibold.eot');
  src: url('../fonts/opensans-semibold/opensans-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold/opensans-semibold.woff') format('woff'),
    url('../fonts/opensans-semibold/opensans-semibold.ttf') format('truetype'),
    url('../fonts/opensans-semibold/opensans-semibold.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
}

/* IE Fix */
a img {
  border: 0;
}

/* Schriftarten Styles */
header h1 {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.8em;
  color: #252525;
  line-height: 54px;
  max-width: 960px;
  margin: 0 auto;
}

#back {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  color: #fff;
  background: #5a9aa8;
  letter-spacing: .05em;
  text-decoration: none;
  padding: 5px 10px;
}

#buy {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  color: #fff;
  background: #5a9aa8;
  letter-spacing: .05em;
  text-decoration: none;
  padding: 5px 10px;
}

#word {
  display: inline;
}

#back:hover, #buy:hover {
  background: #538c99;
}

.wrapper-white2 p {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  color: #252525;
  line-height: 60px;
  text-align: center;
}

.dropdown > div > a {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1em;
  color: #252525;
  line-height: 35px;
  display: block;
  width: 185px;
  padding: 5px 20px;
  text-decoration: none;
}

.dropdown > div > a:hover {
  background: #eaeaea;
  color: #5a9aa8;
}

.wrapper-white3 a {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.1em;
  color: #252525;
  padding: 10px 0;
  text-align: center;
  border: 2px solid #fff;
  background: #eaeaea;
  text-decoration: none;
  display: block;
  float: left;
  box-sizing: border-box;
  width: 49%;
}

.wrapper-white3 .first {
  margin-right: 2%;
}

.wrapper-white3 a:hover {
  border: 2px solid #5a9aa8;
}

.wrapper-white3 .sactive {
  border: 2px solid #5a9aa8;
}

.wrapper-white3:before {
  display: block;
  content: "";
  margin-top: -54px;
  height: 54px;
  visibility: hidden;
}

figcaption h3 {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  color: #252525;
  margin: 10px 0;
}

figcaption p {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #252525;
  line-height: 30px;
}

/* Layout Produkte */
header {
  position: fixed;
  min-height: 54px;
  width: 100%;
  top: 0;
  background: #eaeaea;
  overflow: hidden;
  z-index: 100;
}

.wrapper-white2 {
  margin-top: 54px;
}

.wrapper-white4 {
  margin-bottom: 20px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.content:after {
  content: "";
  display: block;
  clear: both;
}

.dropdown {
  float: left;
}

.dropdown > a {
  float: left;
  margin-right: 20px;
  text-decoration: none;
  height: 595px;
}

.dropdown img {
  border: 10px solid #fff;
}

.dropdown:hover img {
  border: 10px solid #5a9aa8;
}

.dropdown:hover > a > p {
  color: #5a9aa8;
}

.wrapper-white2 .last {
  margin: 0;
}

.ra-thumb {
  float: left;
  max-width: 49%;
  margin: 1% 1% 1% 0;
}

.ra-fig:nth-child(2n+0) img {
  margin: 1% 0% 1% 1%;
}

.fl-thumb {
  float: left;
  max-width: 48.5%;
  margin-right: 1.5%;
}

.fl-fig figcaption {
  float: left;
  width: 48.5%;
  margin-left: 1.5%;
}

.raum figcaption {
  display: none;
}

.fl-fig {
  float: left;
  display: block;
  width: 49.5%;
  margin: 1% 1% 1% 0;
}

.fl-fig:nth-child(2n+0) {
  margin-right: 0;
}

/* Dropdown */
.dropdown > div {
  display: none;
  position: absolute;
  margin-top: 355px;
  padding: 10px 0;
  width: 205px;
}

.dropdown > div > a {
  text-decoration: none;
}

.dropdown:hover > div {
  display: block;
}

.dactive img {
  border: 10px solid #5a9aa8;
}

.dactive > a > p {
  color: #5a9aa8;
}

.dactive > div {
  display: block;
}

.dactive > div > .lactive {
  background: #eaeaea;
  color: #5a9aa8;
}

/* Mobile Navigation */
@media screen and (max-width: 1190px) {
  #back {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #word {
    display: none;
  }
}

/* Mobile Layout */
@media screen and (max-width: 1000px) {
  .content {
    margin: 0 10px;
  }

  header h1 {
    margin-left: 10px;
  }

  .dropdown > div {
    display: block;
  }

  .dropdown > a {
    border: 2px solid #eaeaea;
    margin-bottom: 20px;
  }

  .dropdown > div > a {
    margin-left: 2px;
  }
}

@media screen and (max-width: 660px) {
  .fl-fig > figcaption {
    display: none;
  }

  .fl-thumb {
    max-width: 230px;
  }
}

@media screen and (max-width: 500px) {
  .fl-thumb {
    max-width: 100%;
  }
}